<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="HomeCtrl">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" href="https://gitlab.com/uploads/project/avatar/1721672/aulluminate.png">

	<title>Smart Lighting Remote Control</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<style type="text/css">
		#container1, #container2, #container3, #container4 {width:700px; height: 60px; margin-right:auto; margin-left:auto; margin-top: 30px; margin-bottom:30px; border-style: solid; border-color: #ABABAB; border-radius: 8px; border-width: 1px; background-color: #555}
		#left {width: 35%;}
		#middle {width: 25%;}
		#right {width: 40%;}
	</style>
	
    <link rel="stylesheet" type="text/css" href="home/home_style.css"/> </head>
 
</head>

<body>

    <alert-banner></alert-banner>
    
    <div class="jumbotron" align="center">
        	<div class="container">
        	        <h2>Smart Lighting Remote Control</h2>
        	</div>
    </div>
    
    <div class="container" align="center">
    </div>

	<div id="container1" align="center">
		<div id="left" style="float:left; vertical-align:middle; line-height: 60px"> LIGHT BULB 1</div>
		<div id="middle" style="display:inline"></div>
		<div id="right" class="container" style="float:right; display:inline; margin-top: 12px; margin-bottom: 12px">
			<div class="btn-group" id="L1" data-toggle="buttons">
				<label class="btn" ng-model="radioModel1" uib-btn-radio="'11'" ng-click="sendSignal('11')">ON</label>
				<label class="btn" ng-model="radioModel1" uib-btn-radio="'01'" ng-click="sendSignal('01')">OFF</label>
				<label class="btn" ng-model="radioModel1" uib-btn-radio="'21'" ng-click="sendSignal('21')">AUTO</label>
			</div>
		</div>
	</div>

	<div id="container2" align="center">
		<div id="left" style="float:left; vertical-align:middle; line-height: 60px"> LIGHT BULB 2</div>
		<div id="middle" style="display:inline"></div>
		<div id="right" class="container" style="float:right; display:inline; margin-top: 12px; margin-bottom: 12px">
			<div class="btn-group" id="L2" data-toggle="buttons">
				<label class="btn" ng-model="radioModel2" uib-btn-radio="'12'" ng-click="sendSignal('12')">ON</label>
				<label class="btn" ng-model="radioModel2" uib-btn-radio="'02'" ng-click="sendSignal('02')">OFF</label>
				<label class="btn" ng-model="radioModel2" uib-btn-radio="'22'" ng-click="sendSignal('22')">AUTO</label>
			</div>
		</div>
	</div>

	<div id="container3" align="center">
		<div id="left" style="float:left; vertical-align:middle; line-height: 60px"> LIGHT BULB 3</div>
		<div id="middle" style="display:inline"></div>
		<div id="right" class="container" style="float:right; display:inline; margin-top: 12px; margin-bottom: 12px">
			<div class="btn-group" id="L3" data-toggle="buttons">
				<label class="btn" ng-model="radioModel3" uib-btn-radio="'13'" ng-click="sendSignal('13')">ON</label>
				<label class="btn" ng-model="radioModel3" uib-btn-radio="'03'" ng-click="sendSignal('03')">OFF</label>
				<label class="btn" ng-model="radioModel3" uib-btn-radio="'23'" ng-click="sendSignal('23')">AUTO</label>
			</div>
		</div>
	</div>

	<div id="container4" align="center">
		<div id="left" style="float:left; vertical-align:middle; line-height: 60px"> LIGHT BULB 4</div>
		<div id="middle" style="display:inline"></div>
		<div id="right" class="container" style="float:right; display:inline; margin-top: 12px; margin-bottom: 12px">
			<div class="btn-group" id="L4" data-toggle="buttons">
				<label class="btn" ng-model="radioModel4" uib-btn-radio="'14'" ng-click="sendSignal('14')">ON</label>
				<label class="btn" ng-model="radioModel4" uib-btn-radio="'04'" ng-click="sendSignal('04')">OFF</label>
				<label class="btn" ng-model="radioModel4" uib-btn-radio="'24'" ng-click="sendSignal('24')">AUTO</label>
			</div>
		</div>
	</div>

</body></html>


